/**************************************/
/* Submit                             */
/**************************************/

@media (max-width: 659px) {
  .content-form .button-wrapper .send-button-wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1023px) {
  .content-form .button-wrapper .send-button-wrapper {
    order: 90;
  }
}

.send-button-wrapper > button {
  position: relative;
  font-size: clamp(
    18px,
    calc(18px + ((11) * ((100vw - 430px) / (2000 - 430)))),
    29px
  );
  font-weight: 700;
  background: #ffed00;
  color: #000;
  text-decoration: none;
  display: block;
  font-family: "Unbounded", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  padding: 1em 2.07em 1.05em;
  letter-spacing: -0.04em;
  border-radius: 50px;
  box-shadow: inset 0 -0.275em 0.1px 0 #000;
  transform: translateY(0);
  transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;

  cursor: pointer;
}

.send-button-wrapper > button:hover {
  box-shadow: inset 0 0 0 0 #000;
  transition: box-shadow 0.15s ease-out, transform 0.15s ease-out;
  transform: translateY(0.27em);
  text-decoration: none;
  color: #000 !important;
}

input[type="submit"],
input[type="button"] {
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  appearance: auto;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

.border-box:before,
.text-container .border-box:before,
p.readmore a:before,
.button:before,
.btn:before,
input[type="submit"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}