/**************************************/
/* Inputs                             */
/**************************************/

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm input[type="tel"],
#contactForm textarea {
  background-color: #f2f2f5;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: block;
  box-sizing: border-box;
  width: calc(100% - 2px);
  height: 112px;
  padding: 0.5em 1.17em 0.2em;
  line-height: 1em;
  border: 8px solid #000;
  outline: none;
  margin: 0;
  font-family: inherit;
  font-size: 1.739em;
  font-weight: 700;
  color: #000;
  background-color: transparent;
  box-shadow: none;
  border-radius: 63px;
  transition: outline-color 0.5s, border-color 0.25s ease-in-out;
  /* max-width: 448px; */
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media only screen and (max-width: 659px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    font-size: 25px;
    border-width: 4px;
    text-align: center;

    padding-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 1150px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    border-width: 6px;
    font-size: 29px;
  }
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
  opacity: 0;
  transition: opacity 0.4s;
}

@media (max-width: 659px) {
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="tel"]::placeholder,
  textarea::placeholder {
    opacity: 1;
  }
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 1;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
textarea:focus, 
input[type="text"]:not(:placeholder-shown), 
input[type="email"]:not(:placeholder-shown)
/* ,textarea:not(:placeholder-shown)  */ {
  border: 8px solid #000;
  color: #000;
  transition: outline-color 0.5s, border-color 0.25s ease-in-out;
}

input[type="text"]:not(:placeholder-shown) ~ .control-label,
input[type="email"]:not(:placeholder-shown) ~ .control-label,
textarea:not(:placeholder-shown) ~ .control-label {
  opacity: 0 !important;
}

button,
input {
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

input:not(
    [type="image" i],
    [type="range" i],
    [type="checkbox" i],
    [type="radio" i]
  ) {
  overflow-clip-margin: 0px;
  overflow: clip;
}

/* input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
} */

input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding-block: 1px;
  padding-inline: 2px;
}

.content-form .control-group .control-label {
  position: absolute;
  bottom: 1.3em;
  left: 2.7em;
  opacity: 1;
  transition: opacity 0.4s;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.04em;
  z-index: 1;
  color: #000;
  font-family: var(--secondary-font-family);
}

@media (max-width: 659px) {
  .content-form .control-group input[type="text"] + .control-label,
  .content-form .control-group input[type="email"] + .control-label,
  .content-form .control-group input[type="tel"] + .control-label,
  .content-form .control-group textarea + .control-label {
    display: none;
  }
}

@media (max-width: 659px) {
  .content-form .control-group .control-label {
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  .content-form .control-group .control-label {
    font-size: 15px;
  }
}
