/*============================
  SERVICE ITEM - make items square
============================*/
.service-item {
  position: relative;
  overflow: hidden;
  border-radius: var(--main-border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  /* Make square */
  aspect-ratio: 1 / 1;
}

.service-thumbnail {
  width: 100%;
  height: 100%;
}

/* Make images fill service-item and cover */
.service-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
