/*============================
  OVERLAY
============================*/
.service-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: var(--overlay-height);
  background: linear-gradient(to top, var(--overlay-default-color), transparent);
  padding: var(--main-spacing-size);
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.services-grid-row.three-columns-row .service-overlay {
  padding: calc(var(--main-spacing-size) / 4 * 3) var(--main-spacing-size);
}

.service-category-section.is-dark .service-overlay {
  background: linear-gradient(to top, var(--main-color), transparent);
}