/*============================
  SERVICE ITEM - make items square
============================*/
.service-item {
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);

  /* Make square */
  aspect-ratio: 1 / 1;

  position: relative;
  overflow: hidden;  
}

/* Make images fill service-item and cover */
.service-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
