.wi-contact-main > div:not(:last-child){
  max-width: var(--max-content-size);
  padding: var(--main-spacing-size);
  padding-bottom: 0;
}

main > div:last-of-type {
  min-width: 100%;
}

.wi-contact-main > .contact-head-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-spacing-size));  
}


/* =============================== */
/* Outer Wrapper                   */
/* =============================== */

@media (max-width: 659px) {
  .row,
  .row.big,
  .row.mid {
    padding: 0 20px;
  }
}

.row::after {
  clear: both;
}

.row::before,
.row::after {
  content: " ";
  display: table;
}

/**************************************/
/* Form                          */
/**************************************/

@media only screen and (max-width: 1024px) {
  .row .row {
    margin-left: -0.7825rem;
    margin-right: -0.7825rem;
  }
}

.clearfix {
  display: block;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  content: " ";
  font-size: 0;
  line-height: 0;
}

.small-12 {
  width: 100%;
}

@media screen and (min-width: 41.25em) {
  .medium-6 {
    width: calc(50% - var(--main-spacing-size) / 2);
  }
}

@media only screen and (max-width: 1024px) {
  .column,
  .columns {
    padding-left: 0.7825rem;
    padding-right: 0.7825rem;
  }
}

.content-form .control-group .controls {
  position: relative;
}

.content-form .control-group textarea + .control-label {
  left: 2.3em;
}

/**************************************/
/* Form bottom area                   */
/**************************************/


@media (max-width: 1023px) {
  .content-form .button-wrapper {
    align-items: center;
  }
}



/**************************************/
/* Privacy                            */
/**************************************/

.content-form .button-wrapper .privacy {
  font-size: clamp(
    12px,
    calc(12px + ((4) * ((100vw - 430px) / (2000 - 430)))),
    16px
  );
  width: calc(100% - 360px);
  max-width: 945px;
  line-height: 1.5em;
  font-family: var(--secondary-font-family);

  text-align: left;
}
.content-form .button-wrapper .privacy a {
  line-height: inherit;
  color: #1779ba;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .content-form .button-wrapper .privacy {
    width: 100%;
    padding-right: 0;
    padding-top: 0;
  }
}

/**************************************/
/* Captcha.                           */
/**************************************/

.content-form .fr-captcha-wrapper {
  margin-top: 1em;
  width: 100%;
}

/**************************************/
/* Bottom area                        */
/**************************************/

.contact-bottom-wrapper {
  position: relative;
  height: 500px;
}

@media (max-width: 659px) {
  .contact-bottom-wrapper {
    height: auto; /* statt 500px fix */
    display: flex;
    flex-direction: column;
  }
}

/**************************************/
/* Address                            */
/**************************************/

.contact-address-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: calc(var(--max-content-size) / 3 * 2);
  margin: 0 auto;
  z-index: 2; /* liegt über der Karte */
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  padding: 50px;
  border-radius: 100px;

  gap: 2rem;

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

@media (max-width: 659px) {
  .contact-address-wrapper {
    width: 100%;
    flex-direction: column;

    position: relative; /* bleibt so */
    z-index: 1;
    margin-top: 0;
    border-radius: 40px;
    padding: 2rem;
  }
}

.contact-address-wrapper > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.contact-address-wrapper .icon-outer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-address-wrapper .icon-wrapper {
  display: flex;
  border-radius: 50%;
  transition: all ease 0.35s;
  box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);

  width: 70px;
  height: 70px;
}
.contact-address-wrapper i {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  height: 100%;
}

.data-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  color: #696970;
}

.data-content-wrapper a {
  color: #696970;
  text-decoration: underline;
}

.data-content-wrapper a:hover {
  color: #000;
}

/**************************************/
/* Map.                               */
/**************************************/

.contact-map-outer-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

@media (max-width: 659px) {
  .contact-map-outer-wrapper {
    position: relative; /* statt absolute */
    height: 300px; /* z. B. auf kleinerem Screen */
    margin-top: 2rem;
  }
}

.contact-map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  z-index: 1; /* liegt unter dem Address-Wrapper */
  overflow: hidden;

  margin-top: 6.5rem;
}

@media (max-width: 659px) {
  .contact-map-wrapper {
    position: relative; /* statt absolute */
    margin-top: 0;
    height: 300px; /* z. B. passend zur outer-wrapper */
  }
}
