/**************************************/
/* General                            */
/**************************************/

.home-main-container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

/**************************************/
/* Section Wrapper                    */
/**************************************/

.home-customer-logos {
  width: 100%;
  margin: 0 auto;
  background: #ffed00;
  padding: 5em 0 7em;
}

@media (max-width: 1400px) {
  .home-customer-logos {
    padding: 9% 0;
  }
}

/**************************************/
/* Carousel Wrapper                   */
/**************************************/

.home-customer-logos .partner-list {
  margin-top: 35px;
}

.home-customer-logos .partner-list-wrapper .partner-list:first-child {
  margin-top: 0;
}

@media (max-width: 659px) {
  .home-customer-logos .partner-list {
    margin-top: 15px;
  }
}

/**************************************/
/* Carousel Items (Logo Boxes)        */
/**************************************/

.carousel-cell {
  box-sizing: border-box;
  padding: 0 clamp(6px, 1.2vw, 16px); /* control horizontal spacing */
}

/* Logo box */
.home-customer-logos .customer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(108px, 14.4vw, 240px); /* Increased by 20% */
  background: #fff;
  border-radius: 157px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/**************************************/
/* Inversion Rules                    */
/**************************************/

.home-customer-logos
  .carousel:nth-of-type(1)
  .carousel-cell:nth-child(2n)
  .customer-logo {
  filter: var(--invert-color);
}

.home-customer-logos
  .carousel:nth-of-type(2)
  .carousel-cell:nth-child(2n)
  .customer-logo {
  filter: var(--invert-color);
}

.home-customer-logos
  .carousel:nth-of-type(3)
  .carousel-cell:nth-child(2n-1)
  .customer-logo {
  filter: var(--invert-color);
}

/**************************************/
/* Logo Image                         */
/**************************************/

.home-customer-logos .customer-logo img {
  max-height: 80%;
  max-width: 100%;
  width: auto;
  height: auto;
  border-style: none;
}
