main {
  background-color: var(--main-color);
  font-family: var(--main-font-family);
  color: var(--overlay-default-color);
  text-align: center;
}
main,
.impressum-section a {
  color: var(--overlay-default-color);
}
.impressum-header h1 {
  font-size: clamp(2rem, 8vw, 9.375rem);
  padding: 10px 150px 100px 150px;
}
.impressum-container article {
  padding: 0 150px 100px 150px;
}
.impressum-section {
  font-family: var(--secondary-font-family);
}
.impressum-section h2,
.impressum-section p {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  text-transform: none;
}
.impressum-section h2 {
  font-weight: var(--main-font-weight-value);
  padding-bottom: 0.5rem;
}
.impressum-section p {
  padding-bottom: 3rem;
  letter-spacing: 1px;
}
.impressum-section-down h2,
.impressum-section-down p {
  font-size: clamp(1rem, 2vw, 2rem);
}
@media (max-width: 768px) {
  .impressum-header h1,
  .impressum-container article {
    padding-left: 30px;
    padding-right: 30px;
  }
}
