.impressum-container {
  background-color: var(--main-color);
}

@media (max-width: 768px) {
  .impressum-header h1,
  .impressum-container article {
    padding-left: 30px;
    padding-right: 30px;
  }
}
