/* =============================== */
/* Globals                         */
/* =============================== */

:root {
  /* Centralized values for reusability */
  --max-width: 1780px;
  --padding-percent: 5%;
  --border-radius-default: 40px;
  --border-radius-large: 60px;
  --font-unbounded: "Unbounded", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-yellow: #ffed00;
  --color-black: #000;
  --color-white: #fff;
}

html {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  unicode-bidi: isolate;
}

body {
  margin: 0;
}

/* =============================== */
/* Outer Wrapper                   */
/* =============================== */

.services-main-wrapper {
  background-color: var(--color-yellow); /* zadrzavamo tvoju boju */
  color: black;
  display: flex;
  flex-direction: column;
}

/* =============================== */
/* Categories                      */
/* =============================== */

.service-category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-category-section::before,
.service-category-section::after {
  content: " ";
  display: table;
  box-sizing: border-box;
}

.service-category-section::after {
  clear: both;
}

/* =============================== */
/* Category Headlines              */
/* =============================== */

.service-category-section h1 {
  font-size: clamp(
    97px,
    calc(97px + 174 * ((100vw - 660px) / (2000 - 660))),
    271px
  );
  font-family: var(--font-unbounded);
  text-transform: uppercase;
  font-weight: 800;
  line-height: 0.88em;
  text-align: center;
  letter-spacing: -0.035em;
  margin: 0;
  margin-block-start: var(--padding-percent);
  margin-inline-end: 0;
  display: block;
  max-width: var(--max-width);
}

.service-category-section.is-dark h1 {
  color: var(--color-white);
}

/* =============================== */
/* Services                        */
/* =============================== */

.services-grid-desktop {
  max-width: var(--max-width);
  padding: var(--padding-percent);
  box-sizing: content-box;
}

.service-category-section.is-dark {
  background-color: var(--color-black);
}

/* =============================== */
/* Services Grid                   */
/* =============================== */

.services-grid {
  display: grid;
  gap: 3%;
}

.services-grid:has(> .service-item:only-child) {
  display: flex;
  justify-content: center;
}

.services-grid:has(> .service-item:only-child) .service-title {
  font-size: 3.5vh;
  font-weight: bold;
}

.services-grid.two-columns-row {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 3%;
}

.services-grid.two-columns-row:nth-child(2) {
  padding-bottom: 0;
}

.services-grid.three-columns-row {
  grid-template-columns: repeat(3, 1fr);
}

/* =============================== */
/* Individual Service Item         */
/* =============================== */

.service-item {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* =============================== */
/* Service Image                   */
/* =============================== */

.service-thumbnail {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: var(--border-radius-default);
}

.services-grid.two-columns-row .service-thumbnail {
  border-radius: var(--border-radius-large);
}

.service-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ================================== */
/* Overlay at Bottom of Service Item  */
/* ================================== */

.service-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  padding-left: 7.5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.service-category-section:nth-of-type(odd) .service-overlay {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.service-category-section:nth-of-type(even) .service-overlay {
  background: linear-gradient(
    to top,
    var(--color-yellow) 0%,
    rgba(255, 237, 0, 0.6) 50%,
    rgba(255, 237, 0, 0) 100%
  );
}

/* =============================== */
/* Titles                          */
/* =============================== */

.service-category-section.is-dark h2,
.service-category-section.is-dark h3 {
  color: var(--color-black);
}

.service-overlay h3 {
  font-family: var(--font-poppins);
  text-transform: none;
}

.services-grid.two-columns-row h3 {
  font-size: clamp(
    20px,
    calc(20px + 10 * ((100vw - 1024px) / (2000 - 1024))),
    30px
  );
  margin: 0 0 3%;
}

.services-grid.three-columns-row h3 {
  font-size: clamp(
    16px,
    calc(16px + 1 * ((100vw - 430px) / (2000 - 430))),
    17px
  );
  margin: 0 0 0.5vh;
}

/* =============================== */
/* Main Title                      */
/* =============================== */

.service-overlay h2 {
  font-family: var(--font-unbounded);
  text-transform: uppercase;
  letter-spacing: -0.04em;
  line-height: 1.2em;
  font-weight: 800;
  margin: 0;
}

.services-grid.two-columns-row h2 {
  font-size: clamp(
    20px,
    calc(20px + 40 * ((100vw - 430px) / (2000 - 430))),
    60px
  );
}

.services-grid.three-columns-row h2 {
  font-size: clamp(
    20px,
    calc(20px + 7 * ((100vw - 1024px) / (2000 - 1024))),
    27px
  );
}

.services-grid-mobile {
  display: none;
}

/* =============================== */
/* Responsive                      */
/* =============================== */

@media (max-width: 1024px) {
  .services-grid-desktop {
    display: none;
  }

  .services-grid-mobile {
    display: block;
  }

  .services-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 5vw;
    padding: 5vh 5vw;
  }

  .services-carousel .service-item {
    flex: 0 0 80%;
    scroll-snap-align: center;
    max-width: 80%;
  }

  .services-grid.two-columns-row,
  .services-grid.three-columns-row,
  .services-grid.even-grid,
  .services-grid.odd-grid {
    grid-template-columns: 1fr;
    gap: 5vh;
    grid-auto-rows: 400px;
  }

  .services-grid:has(> .service-item:only-child) .service-item {
    width: 80%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    height: auto;
    margin: 0 auto;
  }

  .service-item {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    width: 80%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }

  .service-thumbnail {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    border: 5px solid black;
    border-radius: 40px;
    overflow: hidden;
  }

  .service-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
  }

  .service-overlay {
    height: 35%;
  }

  .service-title {
    font-size: 1rem;
  }

  .service-excerpt {
    font-size: 0.7rem;
  }

  .services-title-wrapper,
  .service-category-section {
    font-size: 1rem;
  }

  .service-category-section h1 {
    font-size: 4vh;
    letter-spacing: -2px;
  }

  .services-grid + .services-grid {
    margin-top: 0;
    padding-top: 5vh;
  }

  .services-grid:not(:last-child) {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .services-grid:has(> .service-item:only-child) .service-title {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .services-main-wrapper {
    align-items: center;
  }
}
