/*============================
  BASE STYLES
============================*/

.service-category-section {
  padding: var(--main-spacing-size);
  display: flex;
  flex-direction: column;
  gap: var(--main-spacing-size);
  background-color: var(--main-color);
}

.service-category-section.is-dark {
  background-color: black;
  color: #fff;
}

/*============================
  MOBILE CAROUSEL STYLE
============================*/
.services-grid-mobile {
  display: none;
}

/*============================
  RESPONSIVE
============================*/

@media (max-width: 768px) {
  .services-grid-desktop {
    display: none;
  }

  .services-grid-mobile {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .services-carousel {
    display: flex;
    gap: 1.5rem;
    scroll-snap-type: x mandatory;
    padding: 1rem 1rem 1rem 0;
  }

  .services-carousel .service-item {
    max-width: 280px;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
}
